# Essa variável será usada para definir o servidor de backend que o frontend irá se comunicar. Pode ter os valores 'development' ou 'production', sendo que 'production' faz referência a api hospedada e o 'development' faz referência a api local.
REACT_ENV= 